*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.registration{
 width: 400px;   
 background-color: orange;
 margin: 0 auto;
 padding: 30px 30px;
 border-radius: 10px;

}
h2{
    text-align: center;
}
label{
    display: block;
    font-size: 20px;
    font-weight: 400px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
input{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid black;
}
input:focus{
    border: 2px solid red;
}
.gender label{
    display: inline-block;
}
.gender input{
    width: auto;
    display: inline-block;
    margin-right: 30px;
}
select{
    width: 100%;
}
.div label{
    display: inline-block;
    margin-right: 10px;
    
}
.div input{
    width: auto;
    margin-top: 20px;
}